.choicesContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-std);
    width: 100%;
    max-height: 50%;
}
.choice {
    flex: 1;
    overflow: hidden;
    display: inline-flex;
    gap: 1rem;
    width: 100%;
    padding: 0.75rem;

    &[data-insufficient-funds="true"] {
        cursor: auto;
        background: #ffe;
        color: darkgoldenrod;
        border-color: darkgoldenrod;
    }
    &[data-sold-out="true"] {
        cursor: auto;
        background: #fdd;
        color: firebrick;
        border-color: firebrick;
    }

    img {
        height: 100%;
        aspect-ratio: 1;
    }
}
.choiceSpanContainer {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    gap: 0.125rem;
    margin-block: auto;
}
.title {
    font-size: clamp(1rem, 0.423rem + 3.077vw, 1.5rem);
}
.price {
    font-size: clamp(0.75rem, 0.462rem + 1.538vw, 1rem);
}
.insufficientFunds {
    font-size: 0.625rem;
}
