:root {
    --text-color-std: #222;
    --text-color-disabled: #555;
    --gap-std: 0.5rem;
    --bg-disabled: #e0e0e0;
}

button {
    cursor: pointer;
    background: white;
    color: var(--text-color-std);
    font-size: 1.25rem;
    border: var(--text-color-std) 1px solid;
    transition: background 0.15s ease-out;

    &:disabled {
        color: var(--text-color-disabled);
        background: var(--bg-disabled);
        border: 1px solid var(--text-color-disabled);
    }
    &:not(:disabled):hover {
        background: #ccf0ff;
        border-color: #08f;
    }
}

.root {
    display: flex;
    flex-direction: column;
    gap: var(--gap-std);
    max-width: 520px;
    margin-inline: auto;
    height: 100vh;
    padding: 1rem;
}

.cancel {
    flex: 1;
    font-size: clamp(1rem, 0.423rem + 3.077vw, 1.5rem);
}
